solutions/Ballard_SCAUserManagment/Workflows/SCARemoveUser-F1EF57A2-51D6-EE11-904C-6045BDAC82AA.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cr738_sharedsharepointonline_15d25"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "07afd3e8-5025-443d-b02d-9bf8fbb0c9c1"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Email",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "SiteURL",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Send_an_HTTP_request_to_SharePoint": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1156b3a0-8446-46cf-a951-011cbd58f5eb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "HttpRequest"
            },
            "parameters": {
              "dataset": "@triggerBody()['text_1']",
              "parameters/method": "POST",
              "parameters/uri": "_api/web/ensureuser",
              "parameters/headers": {
                "content-type": "application/json;odata=verbose",
                "accept": "application/json;odata=verbose"
              },
              "parameters/body": "{\n\t'logonName': '@{triggerBody()['text']}'\n}"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Compose": {
          "runAfter": {
            "Send_an_HTTP_request_to_SharePoint": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2e8e2887-ed39-414d-9008-d89c9d8dec80"
          },
          "type": "Compose",
          "inputs": "@body('Send_an_HTTP_request_to_SharePoint')?['d']?['Id']"
        },
        "Send_an_HTTP_request_to_SharePoint_2": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0ddbe5ec-97c2-4fa8-891d-360e9cf7d077"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "HttpRequest"
            },
            "parameters": {
              "dataset": "@triggerBody()['text_1']",
              "parameters/method": "POST",
              "parameters/uri": "_api/web/getuserbyid(@{outputs('Compose')})",
              "parameters/headers": {
                "content-type": "application/json;odata=verbose",
                "accept": "application/json;odata=verbose",
                "X-HTTP-Method": "MERGE"
              },
              "parameters/body": "{\n\t'__metadata': {\n\t\t'type': 'SP.User'\n\t},\n\t'IsSiteAdmin': false\n}"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}